
.header img{
    width: 200px;
    height: 300px;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url('Images/img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}