.header {color: red;
background-color: rgba(255, 0, 0, 0.39);}
.header img{
    width: 200px;
    height: 300px;
    border-radius: 30%;
    border: 1px dashed rgb(216, 26, 26) ;
    object-fit: cover;
    object-position: 0 --8px;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url('Images/pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height:100vh;
}
.maincontent{color: rgb(55, 0, 255);font-size: 30px;
background-color: rgba(252, 7, 7, 0.5);}
